<% content_for :title do %>
  Contacts
<% end %>

<div class="page-header">
  <h1>Contacts</h1>
</div>

<div class="contacts table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Birthdate</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Credit card</th>
        <th>Franchise</th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <div><%= contact.email %></div>
        <tr>
          <td><%= contact.name %></td>
          <td>
            <div class="badge badge-info">
            <% status = contact.email_check ? contact.email_check&.status.to_s.humanize : nil %>
              <%= status || 'Not checked' %>
            </div>
          </td>
          <td><%= contact.birthdate %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.address %></td>
          <td><%= contact.credit_card.number %></td>
          <td><%= contact.credit_card.franchise %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @contacts %>